.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 1000000;
}
.me{
    width: 20vw;
    height: 20vw;
    object-position: center;
    object-fit: cover;
    border: none;
    z-index: 1000000;
    border-radius: 64px;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.8);
}
.about-content{
    margin-left: 4vw;
}
.about-header{
    font-size: 52px;
    color: var(--color);
    text-align: center;
}
.about-text{
    width: 42vw;
    font-size: 30px;
    color: white;
}
.background-container{
    background: rgb(59,30,31);
    position: absolute;
    width: 100%;
    z-index: 0;
    gap: 0;
    top: 0;
    border: none;
}
.background{
    padding: 0;
    margin: 0;
    width: 100%;
    object-fit: fill;
}
.programming-languages-header{
    font-size: 32px;
    color: var(--color);
    text-align: center;
}
.programming-languages > ul{
    flex-direction: column;
    padding: 0;
}
@media screen and (max-width:720px) {
    .about{
        flex-direction: column;
    }
    .me{
        width: 60vw;
        height: 60vw;
    }
    .about-content{
        margin: 0;
    }
    .about-text{
        width: 72vw;
        font-size: 16px;
    }
    .about-header{
        font-size: 38px;
    }
    .programming-languages{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .programming-languages-header{
        font-size: 18px;
        width: 80%;
        text-align: center;
        padding: 0;
    }
}