.quote-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.author{
    margin-top: 12px;
    font-size: 42px;
    font-style: italic;
    display: block;
    color: white;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width:68%;
    margin: 92px auto;
}
.about-content{
    margin-left: 60px;
}
.about-header{
    font-size: 42px;
    color: #3eaf4d;
    text-align: center;
}
.capital{
    width: 68%;
    margin: 120px auto;
}
.programming-languages-header{
    font-size: 42px;
    color: #3eaf4d;
    text-align: center;
}
.programming-languages > ul{
    flex-direction: column;
}
.projects-header{
    text-align: center;
    color: #3eaf4d;
    font-size: 52px;
}
.project-caption{
    text-align: center;
    color: white;
    font-size: 32px;
}
.project-caption > a{
    text-decoration: none;
    color: #3eaf4d;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links-header{
    text-align: center;
    color: #3eaf4d;
    font-size: 52px;
    margin-bottom: 0;
}
.links-header>ul{
    flex-direction: row;
}
.icon{
    width: 92px;
    border: none;
}