html{
    scroll-behavior: smooth;
    --main-background-color: #070303;
    --primary-button: #ab5456;
    --secondary-button: #180c0c;
    --accent:#b36567;
    --color:#f7eeee;
}
body{
    padding: 80px 0 0 0;
    margin: 0;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 0.4vw;
}
body::-webkit-scrollbar-track{
    background-color: var(--secondary-button);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--accent);
    border-radius: 100px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}
li{
    list-style: none;
    font-size: 1.8vh;
    color: var(--color);
    margin-top:20px;
}
section{
    margin: 10vh 0;
}
@media screen and (max-width: 720px) {
    section{
        margin: 4vh 0;
    }
}