html{
    scroll-behavior: smooth;
}
body{
    padding: 80px 0 0 0;
    margin: 0;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 1.5rem;
}
body::-webkit-scrollbar-track{
    background-color: #2f2f2f;
}
body::-webkit-scrollbar-thumb{
    background-color: #3eaf4d;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: red;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}
li{
    list-style: none;
    font-size: 1.8vh;
    color: white;
    margin-top:20px;
}
section{
    margin: 10vh 0;
}
@media screen and (max-width: 720px) {
    section{
        margin: 4vh 0;
    }
}