.header{
    background-color: #2f2f2f;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom: black solid 2px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right > p{
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    margin: 0;
}
.header-right > p > a{
    text-decoration: none;
    color: #3eaf4d;
    transition: color 0.15s, text-decoration 0.15s;
}
.header-right > p > a:hover{
    text-decoration: underline;
    color: #86d592;
}
.header-right > p > a:active{
    color: rgba(134, 213, 146, 0.35);
}
.header-center{
    flex: 1;
}
.header-left{
    flex: 1;
}